/**
 * Variables
 */

$base-font-size: 16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// font-size in REM base 16
$font-size-small: 0.875;
$font-size-regular: 1;
$font-size-large: 1.625;
$font-size-x-large: 2.75;
$font-size-xx-large: 3.75;

// Font weight.
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-bolder: 800;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia: Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana: Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma: Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica: Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$courier: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Custom fonts.
$newsCycle: 'News Cycle', $verdana;
$adventPro: 'Advent Pro', $verdana;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $newsCycle;
$font-title: $adventPro;
$font-monospace: $courier;

// Colors, etc.
$black: #000000;
$blue: #025D8C;
$red: #A40802;
$green: #04AC6B;
$white: #FEF9F0;
$bordeau: #80313E;

$primary-color: $black;
$secondary-color: $bordeau;
$third-color: $white;

$hover-lighten: 20%;

// Breakpoints.
$large: 1200px;
$medium: 992px;
$small: 768px;