<h1 id="logo" class="back-to-home">
    <a href="{{ path('homepage') }}">
        <i class="fa fa-angle-left"></i> {{ 'back'|trans }} <span class="secondary-color">{{ 'to_homepage'|trans }}</span>
    </a>
</h1>