<section id="page-footer" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Villa <span class="second-color">Kleber</span>
            </h2>

            <p>
                {{ 'copyright.authors'|trans }}<br />
                Copyright {{ 'now'|date('Y') }}. {{ 'copyright.reserved'|trans }}
            </p>

            <div class="social">
                <a class="google" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                <a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</section>

<div id="back-to-top"></div>