<div class="row" id="map">
    <div class="col-md-12">
        <div class="corner corner-top-right"></div>
        <div class="corner corner-top-left"></div>
        <div class="corner corner-bottom-right"></div>
        <div class="corner corner-bottom-left"></div>

        <div class="gmap-map"></div>
    </div>
</div>