/**
 * Calendar styles.
 */
.calendar {
  text-align: center;

  .ajax-loader .fa-cog {
    position: absolute;
    font-size: 5em;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 80px
  }

  header {
    position: relative;
    margin-bottom: 35px;

    .btn-prev,
    .btn-next {
      color: $white;
      font-size: 20px;
      position: absolute;
      transition: all 0.2s linear;
      width: 30px;
      height: 30px;
      line-height: 28px;
      border-radius: 50%;
      border: 1px solid $white;
      top: -5px;
    }

    .btn-prev:hover,
    .btn-next:hover {
      color: lighten($secondary-color, $hover-lighten);
      background: $white;
    }

    .btn-prev {
      left: 0;
    }

    .btn-next {
      right: 0;
    }
  }

  table {
    text-align: center;
    width: 100%;

    thead {
      font-weight: 600;
      text-transform: uppercase;

      th {
        text-align: inherit;
        padding-bottom: 8px;
        border-right: 1px solid transparentize($white, 0.9);
        border-bottom: 1px solid transparentize($white, 0.9);

        &:last-child {
          border-right: 0;
        }
      }
    }

    tbody {
      color: $white;

      tr:first-child td {
        padding-top: 8px;
      }

      td {
        border-right: 1px solid transparentize($white, 0.9);
        height: 50px;
        width: 50px;
        font-family: $font-title;
        font-weight: 300;

        &:last-child {
          border: 0;
        }

        &.prev-month,
        &.next-month {
          color: transparentize($white, 0.5);
          opacity: 0.7;
        }

        &.booking,
        &.current-day{
          font-weight: 800;
        }

        &.current-day .day-label {
          color: $secondary-color;
        }

        &.booking {
          cursor: pointer;
          position: relative;
        }

        & span.day-bookings {
          display: block;
          height: 20px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          span.booking {
            z-index: 2;
            border-radius: 50%;
            bottom: 8px;
            display: block;
            content: '';
            height: .5em;
            left: 50%;
            margin: -.25em 0 0 -.25em;
            position: absolute;
            width: .5em;

            &.booking-green {
              background: $green;
              left: 30%;

              &.validated {
                background: lighten($green, $hover-lighten);
              }
            }

            &.booking-red {
              background: $red;
              left: 50%;

              &.validated {
                background: lighten($red, $hover-lighten);
              }
            }

            &.booking-blue {
              background: $blue;
              left: 70%;

              &.validated {
                background: lighten($blue, $hover-lighten);
              }
            }

            // Opacity on non validated bookings.
            &.not-validated {
              opacity: 0.2;
            }
          }
        }
      }
    }
  }

  .calendar-legend {
    margin-top: 20px;
  }
}