/**
 * Information elements.
 */
.info-element {
  margin-bottom: 40px;

  .info-element-icon {
    float: left;
    margin-right: 20px;
    background: $secondary-color;
    border-radius: 20px;
    position: relative;
    width: 40px;
    height: 40px;
    transition: all 0.2s linear;

    i {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    &:hover {
      background: lighten($secondary-color, $hover-lighten);
    }
  }

  .info-element-title,
  .info-element-text {
    position: relative;
    top: 7px;
    font-family: $font-title;
    font-size: 20px;
  }

  .info-element-desc {
    margin-top: 20px;
    margin-left: 60px;
  }
}