/**
 * Slideshow styles.
 */

.royalSlider {
  width: 100% !important;
}

/* Slideshow on homepage and on room pages */
#home-slideshow, #room-slideshow {
  .royalSlider {
    height: 100vh;
    min-height: 300px;
  }

  @media screen and (max-width: 992px) {

  }
}

/* For non-desktop screen, set margin top. */
@media screen and (max-width: 992px) {
  body {
    margin-top: 60px;
  }
}

/* For desktop screen, let slideshow hovered by navbar. */
@media screen and (min-width: 992px) {
  body {
    margin-top: 0px;
  }

  .rsDefault .rsFullscreenBtn {
    top: 60px !important;
  }

  .rsFullscreen .rsFullscreenBtn {
    top: 0 !important;
  }
}