/**
 * Main stylesheet file.
 */
/**
 * Variables
 */
@keyframes back-to-home-animation {
  /* line 2, ../sass/modules/_animations.scss */
  0% {
    left: 0;
  }

  /* line 3, ../sass/modules/_animations.scss */
  50% {
    left: -5px;
  }

  /* line 4, ../sass/modules/_animations.scss */
  100% {
    left: 0;
  }
}

/**
 * html5doctor.com Reset Stylesheet
 * v1.6.1
 * Last Updated: 2010-09-17
 * Author: Richard Clark - http://richclarkdesign.com
 * Twitter: @rich_clark
 */
/* line 20, ../sass/partials/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 35, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../sass/partials/_reset.scss */
nav ul {
  list-style: none;
}

/* line 43, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 48, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../sass/partials/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../sass/partials/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../sass/partials/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../sass/partials/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../sass/partials/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../sass/partials/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../sass/partials/_reset.scss */
input, select {
  vertical-align: middle;
}

/**
 * Global styling.
 */
/* line 5, ../sass/partials/_global.scss */
body {
  background: black;
  color: #fef9f0;
  font-family: "News Cycle", Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

/* line 14, ../sass/partials/_global.scss */
img {
  max-width: 100%;
}

/* line 18, ../sass/partials/_global.scss */
a {
  color: #80313e;
  transition: color 0.2s linear;
}
/* line 22, ../sass/partials/_global.scss */
a:hover {
  color: #bf5869;
  text-decoration: none;
}

/* line 28, ../sass/partials/_global.scss */
sup {
  font-size: 0.7em;
}

/* Helper row with margin bottom */
/* line 33, ../sass/partials/_global.scss */
.row-with-margin-bottom {
  margin-bottom: 50px;
}

/* Helper row with margin top */
/* line 38, ../sass/partials/_global.scss */
.row-with-margin-top {
  margin-top: 50px;
}

/* Align center helper */
/* line 43, ../sass/partials/_global.scss */
.align-center {
  text-align: center;
}

/* Ajax loader */
/* line 48, ../sass/partials/_global.scss */
.ajax-loader {
  font-family: "Advent Pro", Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-weight: 800;
}

/**
 * Typography related styles.
 */
/* line 5, ../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Advent Pro", Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

/* line 9, ../sass/partials/_typography.scss */
h1 {
  font-size: 32px;
}

/* line 13, ../sass/partials/_typography.scss */
h2 {
  font-size: 24px;
}

/* line 17, ../sass/partials/_typography.scss */
h3 {
  font-size: 18.72px;
}

/* line 21, ../sass/partials/_typography.scss */
h4 {
  font-size: 16px;
}

/* line 25, ../sass/partials/_typography.scss */
h5 {
  font-size: 13.28px;
}

/* line 29, ../sass/partials/_typography.scss */
h6 {
  font-size: 10.72px;
}

/* Helper classes */
/* line 35, ../sass/partials/_typography.scss */
.secondary-color {
  color: #80313e;
}

/* line 39, ../sass/partials/_typography.scss */
.section-title {
  text-align: center;
  font-family: "Advent Pro", Verdana, Tahoma, "DejaVu Sans", sans-serif;
  color: #80313e;
}
/* line 44, ../sass/partials/_typography.scss */
.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 {
  word-break: break-all;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  margin-bottom: 5rem;
  margin-top: 6rem;
  /* Hover */
  /* Media queries */
}
/* line 54, ../sass/partials/_typography.scss */
.section-title h1 span, .section-title h2 span, .section-title h3 span, .section-title h4 span, .section-title h5 span, .section-title h6 span {
  position: absolute;
  font-size: 9rem;
  font-weight: 700;
  color: rgba(128, 49, 62, 0.2);
  left: 50%;
  top: 40%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* line 69, ../sass/partials/_typography.scss */
.section-title h1 span.hr, .section-title h2 span.hr, .section-title h3 span.hr, .section-title h4 span.hr, .section-title h5 span.hr, .section-title h6 span.hr {
  width: 12rem;
  margin: 0;
  display: block;
  position: absolute;
  height: 0.1rem;
  background: rgba(128, 49, 62, 0.2);
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
/* line 83, ../sass/partials/_typography.scss */
.section-title h1:hover, .section-title h2:hover, .section-title h3:hover, .section-title h4:hover, .section-title h5:hover, .section-title h6:hover {
  color: #bf5869;
}
/* line 86, ../sass/partials/_typography.scss */
.section-title h1:hover span, .section-title h2:hover span, .section-title h3:hover span, .section-title h4:hover span, .section-title h5:hover span, .section-title h6:hover span {
  color: rgba(128, 49, 62, 0.3);
}
/* line 90, ../sass/partials/_typography.scss */
.section-title h1:hover span.hr, .section-title h2:hover span.hr, .section-title h3:hover span.hr, .section-title h4:hover span.hr, .section-title h5:hover span.hr, .section-title h6:hover span.hr {
  background: #80313e;
  transform: translateX(-50%) translateY(25px) rotate(0deg);
}
@media screen and (max-width: 400px) {
  /* line 44, ../sass/partials/_typography.scss */
  .section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 {
    font-size: 2rem;
  }
  /* line 99, ../sass/partials/_typography.scss */
  .section-title h1 span, .section-title h2 span, .section-title h3 span, .section-title h4 span, .section-title h5 span, .section-title h6 span {
    font-size: 6rem;
  }
  /* line 100, ../sass/partials/_typography.scss */
  .section-title h1 span.hr, .section-title h2 span.hr, .section-title h3 span.hr, .section-title h4 span.hr, .section-title h5 span.hr, .section-title h6 span.hr {
    width: 10rem;
  }
}

/**
 * WYSIWYG related styles.
 */
/* line 5, ../sass/partials/_wysiwyg.scss */
.text-image {
  margin-bottom: 20px;
  transition: border-color 0.2s linear;
  clear: both;
}
/* line 10, ../sass/partials/_wysiwyg.scss */
.text-image.text-image-full {
  width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
  border-bottom: 4px solid #80313e;
}
/* line 16, ../sass/partials/_wysiwyg.scss */
.text-image.text-image-full:hover {
  border-bottom-color: #bf5869;
}
/* line 21, ../sass/partials/_wysiwyg.scss */
.text-image.text-image-right {
  float: right;
  margin-left: 20px;
  border-left: 4px solid #80313e;
}
/* line 26, ../sass/partials/_wysiwyg.scss */
.text-image.text-image-right:hover {
  border-left-color: #bf5869;
}
/* line 31, ../sass/partials/_wysiwyg.scss */
.text-image.text-image-left {
  float: left;
  margin-right: 20px;
  border-right: 4px solid #80313e;
}
/* line 36, ../sass/partials/_wysiwyg.scss */
.text-image.text-image-left:hover {
  border-right-color: #bf5869;
}

/* line 42, ../sass/partials/_wysiwyg.scss */
.text-citation {
  padding: 8px 20px;
  margin: 50px;
  background: #333333;
  color: #fef9f0;
  border: 1px solid #80313e;
  border-left-width: 20px;
}

/**
 * Header stylesheet
 * Header, menu, responsive styles
 */
/* line 6, ../sass/partials/_header.scss */
#page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding-top: 15px;
  padding-bottom: 10px;
  transition: background 0.3s linear;
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid black;
}
/* line 17, ../sass/partials/_header.scss */
#page-header .container {
  position: relative;
}

/* Logo */
/* line 23, ../sass/partials/_header.scss */
#logo {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 25px;
  padding-top: 2px;
}
/* line 30, ../sass/partials/_header.scss */
#logo a {
  color: #fef9f0;
  font-weight: 800;
  text-decoration: none;
}
/* line 36, ../sass/partials/_header.scss */
#logo .secondary-color {
  transition: all 0.2s linear;
}
/* line 41, ../sass/partials/_header.scss */
#logo:hover .secondary-color {
  color: #bf5869;
}
/* line 48, ../sass/partials/_header.scss */
#logo.back-to-home i {
  position: relative;
  animation-name: back-to-home-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all 0.2s linear;
}
/* line 56, ../sass/partials/_header.scss */
#logo.back-to-home:hover i {
  animation-play-state: paused;
}

/* Menu */
/* line 63, ../sass/partials/_header.scss */
#main-menu {
  float: right;
}
/* line 66, ../sass/partials/_header.scss */
#main-menu ul {
  margin: 0;
  padding: 0;
}
/* line 70, ../sass/partials/_header.scss */
#main-menu ul li {
  list-style: none;
  float: left;
  margin: 0 5px;
}
/* line 75, ../sass/partials/_header.scss */
#main-menu ul li a {
  color: #fef9f0;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 4px 2px 5px;
  transition: color 0.2s linear;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
}
/* line 89, ../sass/partials/_header.scss */
#main-menu ul li.active a, #main-menu ul li a:hover, #main-menu ul li a.active, #main-menu ul li a:focus {
  color: #80313e;
  background: transparent;
}
/* line 94, ../sass/partials/_header.scss */
#main-menu ul li:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 992px) {
  /* line 101, ../sass/partials/_header.scss */
  #main-menu {
    display: none;
    width: 100%;
    margin-right: 0;
  }
  /* line 106, ../sass/partials/_header.scss */
  #main-menu ul li {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 118, ../sass/partials/_header.scss */
  #main-menu ul li {
    margin: 0;
  }
  /* line 121, ../sass/partials/_header.scss */
  #main-menu ul li a {
    font-size: 9px;
  }
}

/* Menu button */
/* line 129, ../sass/partials/_header.scss */
#menu-responsive {
  width: 30px;
  height: 18px;
  position: absolute;
  right: 15px;
  display: none;
  cursor: pointer;
  margin-top: 1px;
}
/* line 138, ../sass/partials/_header.scss */
#menu-responsive span {
  height: 2px;
  margin-top: 10px;
  background: #80313e;
  display: block;
  position: relative;
  top: 0;
  transition: all 500ms ease-out;
}
/* line 147, ../sass/partials/_header.scss */
#menu-responsive span:first-child {
  margin-top: 0;
}
/* line 153, ../sass/partials/_header.scss */
#menu-responsive.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
/* line 160, ../sass/partials/_header.scss */
#menu-responsive.active span:nth-child(2) {
  opacity: 0;
  top: 7px;
}
/* line 165, ../sass/partials/_header.scss */
#menu-responsive.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -17px;
}
@media screen and (max-width: 992px) {
  /* line 174, ../sass/partials/_header.scss */
  #menu-responsive {
    display: block;
  }
}

/**
 * Footer stylesheet
 */
/* line 5, ../sass/partials/_footer.scss */
#page-footer {
  position: relative;
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../img/footer.jpg");
  background-size: cover;
  border-top: rgba(128, 49, 62, 0.5) 2px solid;
}
/* line 15, ../sass/partials/_footer.scss */
#page-footer h2 {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fef9f0;
}
/* line 22, ../sass/partials/_footer.scss */
#page-footer h2 span {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #80313e;
}
/* line 30, ../sass/partials/_footer.scss */
#page-footer h2:after {
  content: '';
  display: block;
  position: absolute;
  width: 4.5rem;
  height: 0.2rem;
  left: 50%;
  background: #80313e;
  margin-left: -2.25rem;
  margin-top: 20px;
}
/* line 43, ../sass/partials/_footer.scss */
#page-footer p {
  margin-top: 40px;
}
/* line 47, ../sass/partials/_footer.scss */
#page-footer .social {
  margin-top: 20px;
  text-align: center;
}
/* line 51, ../sass/partials/_footer.scss */
#page-footer .social a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 50%;
  background: none repeat scroll 0 0 #80313e;
  transition: all 0.2s linear 0s;
}
/* line 61, ../sass/partials/_footer.scss */
#page-footer .social a i {
  font-size: 1rem;
  line-height: 2rem;
  color: #fef9f0;
}
/* line 67, ../sass/partials/_footer.scss */
#page-footer .social a:hover {
  background: none repeat scroll 0 0 #bf5869;
}

/* BACK TO TOP */
/* line 75, ../sass/partials/_footer.scss */
#back-to-top {
  display: block;
  position: fixed;
  height: 30px;
  bottom: -80px;
  right: 50px;
  background: #80313e;
  text-decoration: none;
  border-radius: 3px;
  z-index: 9999;
  font-size: 20px;
  line-height: 25px;
  width: 30px;
  text-align: center;
  color: #fef9f0;
  cursor: pointer;
  transition: all 0.3s linear;
}
/* line 93, ../sass/partials/_footer.scss */
#back-to-top:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  line-height: 1em;
  content: "\f077";
}
/* line 105, ../sass/partials/_footer.scss */
#back-to-top:hover {
  background: #bf5869;
}

/**
 * Room preview styles.
 */
/* line 4, ../sass/components/_room_preview.scss */
.room-preview {
  /* Room color specifics */
}
/* line 5, ../sass/components/_room_preview.scss */
.room-preview .room-preview-title {
  margin-bottom: 10px;
}
/* line 8, ../sass/components/_room_preview.scss */
.room-preview .room-preview-title h3 {
  font-size: 2rem;
  text-align: center;
}
/* line 12, ../sass/components/_room_preview.scss */
.room-preview .room-preview-title h3 a {
  color: inherit;
}
/* line 16, ../sass/components/_room_preview.scss */
.room-preview .room-preview-title h3 span, .room-preview .room-preview-title h3 i {
  font-weight: 300;
}
/* line 20, ../sass/components/_room_preview.scss */
.room-preview .room-preview-title h3 i {
  padding-right: 10px;
}
/* line 28, ../sass/components/_room_preview.scss */
.room-preview .room-preview-image {
  border-bottom: 4px solid #80313e;
  transition: border-color 0.2s linear;
}
/* line 33, ../sass/components/_room_preview.scss */
.room-preview .room-preview-desc {
  margin-top: 10px;
}
/* line 36, ../sass/components/_room_preview.scss */
.room-preview .room-preview-desc:first-letter {
  font-weight: 800;
  font-size: 20px;
}
/* line 42, ../sass/components/_room_preview.scss */
.room-preview .room-preview-link {
  margin-top: 10px;
}
/* line 45, ../sass/components/_room_preview.scss */
.room-preview .room-preview-link a {
  color: inherit;
}
/* line 54, ../sass/components/_room_preview.scss */
.room-preview.room-preview-red .room-preview-link,
.room-preview.room-preview-red .room-preview-title {
  color: #a40802;
  text-shadow: 0px 0px 10px #feaaa7;
  transition: color 0.2s linear;
}
/* line 59, ../sass/components/_room_preview.scss */
.room-preview.room-preview-red .room-preview-link:hover,
.room-preview.room-preview-red .room-preview-title:hover {
  color: #fc1910;
}
/* line 64, ../sass/components/_room_preview.scss */
.room-preview.room-preview-red .room-preview-image {
  border-bottom-color: #a40802;
}
/* line 67, ../sass/components/_room_preview.scss */
.room-preview.room-preview-red .room-preview-image:hover {
  border-bottom-color: #fc1910;
}
/* line 75, ../sass/components/_room_preview.scss */
.room-preview.room-preview-green .room-preview-link,
.room-preview.room-preview-green .room-preview-title {
  color: #04ac6b;
  text-shadow: 0px 0px 10px #b2fde0;
  transition: color 0.2s linear;
}
/* line 80, ../sass/components/_room_preview.scss */
.room-preview.room-preview-green .room-preview-link:hover,
.room-preview.room-preview-green .room-preview-title:hover {
  color: #1cfaa4;
}
/* line 85, ../sass/components/_room_preview.scss */
.room-preview.room-preview-green .room-preview-image {
  border-bottom-color: #04ac6b;
}
/* line 88, ../sass/components/_room_preview.scss */
.room-preview.room-preview-green .room-preview-image:hover {
  border-bottom-color: #1cfaa4;
}
/* line 96, ../sass/components/_room_preview.scss */
.room-preview.room-preview-blue .room-preview-link,
.room-preview.room-preview-blue .room-preview-title {
  color: #025d8c;
  text-shadow: 0px 0px 10px #90d8fd;
  transition: color 0.2s linear;
}
/* line 101, ../sass/components/_room_preview.scss */
.room-preview.room-preview-blue .room-preview-link:hover,
.room-preview.room-preview-blue .room-preview-title:hover {
  color: #03a0f1;
}
/* line 106, ../sass/components/_room_preview.scss */
.room-preview.room-preview-blue .room-preview-image {
  border-bottom-color: #025d8c;
}
/* line 109, ../sass/components/_room_preview.scss */
.room-preview.room-preview-blue .room-preview-image:hover {
  border-bottom-color: #03a0f1;
}

/**
 * Slideshow styles.
 */
/* line 5, ../sass/components/_slideshow.scss */
.royalSlider {
  width: 100% !important;
}

/* Slideshow on homepage and on room pages */
/* line 11, ../sass/components/_slideshow.scss */
#home-slideshow .royalSlider, #room-slideshow .royalSlider {
  height: 100vh;
  min-height: 300px;
}

/* For non-desktop screen, set margin top. */
@media screen and (max-width: 992px) {
  /* line 23, ../sass/components/_slideshow.scss */
  body {
    margin-top: 60px;
  }
}
/* For desktop screen, let slideshow hovered by navbar. */
@media screen and (min-width: 992px) {
  /* line 30, ../sass/components/_slideshow.scss */
  body {
    margin-top: 0px;
  }

  /* line 34, ../sass/components/_slideshow.scss */
  .rsDefault .rsFullscreenBtn {
    top: 60px !important;
  }

  /* line 38, ../sass/components/_slideshow.scss */
  .rsFullscreen .rsFullscreenBtn {
    top: 0 !important;
  }
}
/* line 1, ../sass/components/_datepicker.scss */
.datepicker {
  color: black;
}

/**
 * Calendar styles.
 */
/* line 4, ../sass/components/_calendar.scss */
.calendar {
  text-align: center;
}
/* line 7, ../sass/components/_calendar.scss */
.calendar .ajax-loader .fa-cog {
  position: absolute;
  font-size: 5em;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 80px;
}
/* line 16, ../sass/components/_calendar.scss */
.calendar header {
  position: relative;
}
/* line 20, ../sass/components/_calendar.scss */
.calendar header .btn-prev,
.calendar header .btn-next {
  color: #fef9f0;
  font-size: 20px;
  position: absolute;
  transition: all 0.2s linear;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 50%;
  border: 1px solid #fef9f0;
  top: -5px;
}
/* line 34, ../sass/components/_calendar.scss */
.calendar header .btn-prev:hover,
.calendar header .btn-next:hover {
  color: #bf5869;
  background: #fef9f0;
}
/* line 39, ../sass/components/_calendar.scss */
.calendar header .btn-prev {
  left: 0;
}
/* line 43, ../sass/components/_calendar.scss */
.calendar header .btn-next {
  right: 0;
}
/* line 48, ../sass/components/_calendar.scss */
.calendar table {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
/* line 53, ../sass/components/_calendar.scss */
.calendar table thead {
  font-weight: 600;
  text-transform: uppercase;
}
/* line 57, ../sass/components/_calendar.scss */
.calendar table thead th {
  text-align: inherit;
  padding-bottom: 8px;
  border-right: 1px solid rgba(254, 249, 240, 0.1);
  border-bottom: 1px solid rgba(254, 249, 240, 0.1);
}
/* line 63, ../sass/components/_calendar.scss */
.calendar table thead th:last-child {
  border-right: 0;
}
/* line 69, ../sass/components/_calendar.scss */
.calendar table tbody {
  color: #fef9f0;
}
/* line 72, ../sass/components/_calendar.scss */
.calendar table tbody tr:first-child td {
  padding-top: 8px;
}
/* line 76, ../sass/components/_calendar.scss */
.calendar table tbody td {
  border-right: 1px solid rgba(254, 249, 240, 0.1);
  height: 50px;
  width: 50px;
  font-family: "Advent Pro", Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-weight: 300;
}
/* line 83, ../sass/components/_calendar.scss */
.calendar table tbody td:last-child {
  border: 0;
}
/* line 88, ../sass/components/_calendar.scss */
.calendar table tbody td.prev-month, .calendar table tbody td.next-month {
  color: rgba(254, 249, 240, 0.5);
  opacity: 0.7;
}
/* line 94, ../sass/components/_calendar.scss */
.calendar table tbody td.booking, .calendar table tbody td.current-day {
  font-weight: 800;
}
/* line 98, ../sass/components/_calendar.scss */
.calendar table tbody td.current-day .day-label {
  color: #80313e;
}
/* line 102, ../sass/components/_calendar.scss */
.calendar table tbody td.booking {
  cursor: pointer;
  position: relative;
}
/* line 107, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings {
  display: block;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 115, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings span.booking {
  z-index: 2;
  border-radius: 50%;
  bottom: 8px;
  display: block;
  content: '';
  height: .5em;
  left: 50%;
  margin: -.25em 0 0 -.25em;
  position: absolute;
  width: .5em;
}
/* line 127, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings span.booking.booking-green {
  background: #04ac6b;
  left: 30%;
}
/* line 131, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings span.booking.booking-green.validated {
  background: #1cfaa4;
}
/* line 136, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings span.booking.booking-red {
  background: #a40802;
  left: 50%;
}
/* line 140, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings span.booking.booking-red.validated {
  background: #fc1910;
}
/* line 145, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings span.booking.booking-blue {
  background: #025d8c;
  left: 70%;
}
/* line 149, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings span.booking.booking-blue.validated {
  background: #03a0f1;
}
/* line 155, ../sass/components/_calendar.scss */
.calendar table tbody td span.day-bookings span.booking.not-validated {
  opacity: 0.2;
}
/* line 164, ../sass/components/_calendar.scss */
.calendar .calendar-legend {
  margin-top: 20px;
}

/**
 * Room form styles.
 */
/* line 5, ../sass/components/_room_form.scss */
.booking-room {
  margin-bottom: 10px;
}
/* line 8, ../sass/components/_room_form.scss */
.booking-room h3 {
  text-align: center;
}
/* line 12, ../sass/components/_room_form.scss */
.booking-room > .inner {
  margin-top: 15px;
}
/* line 16, ../sass/components/_room_form.scss */
.booking-room .radio {
  float: left;
  width: 33%;
  margin: 0;
}
/* line 21, ../sass/components/_room_form.scss */
.booking-room .radio > .inner {
  margin: 20px;
}
/* line 25, ../sass/components/_room_form.scss */
.booking-room .radio .radio-label {
  padding: 0 0 8px 0;
  text-align: center;
  font-family: "Advent Pro", Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
/* line 32, ../sass/components/_room_form.scss */
.booking-room .radio .radio-label label {
  margin: 0;
  padding: 0;
  display: inline;
  transition: color 0.2s linear;
  opacity: 0.7;
}
/* line 39, ../sass/components/_room_form.scss */
.booking-room .radio .radio-label label.room-red {
  color: #a40802;
  text-shadow: 0px 0px 10px #feaaa7;
}
/* line 43, ../sass/components/_room_form.scss */
.booking-room .radio .radio-label label.room-red:hover {
  color: #fc1910;
}
/* line 48, ../sass/components/_room_form.scss */
.booking-room .radio .radio-label label.room-green {
  color: #04ac6b;
  text-shadow: 0px 0px 10px #b2fde0;
}
/* line 52, ../sass/components/_room_form.scss */
.booking-room .radio .radio-label label.room-green:hover {
  color: #1cfaa4;
}
/* line 57, ../sass/components/_room_form.scss */
.booking-room .radio .radio-label label.room-blue {
  color: #025d8c;
  text-shadow: 0px 0px 10px #90d8fd;
}
/* line 61, ../sass/components/_room_form.scss */
.booking-room .radio .radio-label label.room-blue:hover {
  color: #03a0f1;
}
/* line 69, ../sass/components/_room_form.scss */
.booking-room .radio.active .radio-label label {
  opacity: 1;
  font-size: 1.2em;
}
/* line 73, ../sass/components/_room_form.scss */
.booking-room .radio.active .radio-label label.room-red {
  color: #fc1910;
}
/* line 77, ../sass/components/_room_form.scss */
.booking-room .radio.active .radio-label label.room-green {
  color: #1cfaa4;
}
/* line 81, ../sass/components/_room_form.scss */
.booking-room .radio.active .radio-label label.room-blue {
  color: #03a0f1;
}
/* line 87, ../sass/components/_room_form.scss */
.booking-room .radio .radio-input {
  text-align: center;
  height: 1px;
  overflow: hidden;
}
/* line 92, ../sass/components/_room_form.scss */
.booking-room .radio .radio-input input {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

/* line 104, ../sass/components/_room_form.scss */
.booking-dates,
.booking-names {
  clear: both;
  margin-top: 20px;
}
/* line 108, ../sass/components/_room_form.scss */
.booking-dates > div,
.booking-names > div {
  float: left;
  width: 50%;
}
/* line 113, ../sass/components/_room_form.scss */
.booking-dates > div.booking-fname > .inner, .booking-dates > div.booking-date-from > .inner,
.booking-names > div.booking-fname > .inner,
.booking-names > div.booking-date-from > .inner {
  margin-right: 10px;
  margin-left: 60px;
  position: relative;
}
/* line 120, ../sass/components/_room_form.scss */
.booking-dates > div.booking-lname > .inner, .booking-dates > div.booking-date-to > .inner,
.booking-names > div.booking-lname > .inner,
.booking-names > div.booking-date-to > .inner {
  margin-right: 60px;
  margin-left: 10px;
  position: relative;
}
/* line 126, ../sass/components/_room_form.scss */
.booking-dates > div .icon,
.booking-names > div .icon {
  position: absolute;
  top: 28px;
  right: 10px;
  color: black;
  cursor: pointer;
}

/* line 136, ../sass/components/_room_form.scss */
.booking-regular-field {
  margin: 20px 60px 0 60px;
}

/* line 140, ../sass/components/_room_form.scss */
.booking-submit {
  margin: 20px 60px 0 60px;
}
/* line 143, ../sass/components/_room_form.scss */
.booking-submit button {
  width: 100%;
  font-size: 1.5em;
  background: #80313e;
  border-color: #36151a;
  font-family: "Advent Pro", Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-weight: 800;
  color: #fef9f0;
  transition: all 0.2s linear;
}

/**
 * Information elements.
 */
/* line 4, ../sass/components/_information.scss */
.info-element {
  margin-bottom: 40px;
}
/* line 7, ../sass/components/_information.scss */
.info-element .info-element-icon {
  float: left;
  margin-right: 20px;
  background: #80313e;
  border-radius: 20px;
  position: relative;
  width: 40px;
  height: 40px;
  transition: all 0.2s linear;
}
/* line 17, ../sass/components/_information.scss */
.info-element .info-element-icon i {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 23, ../sass/components/_information.scss */
.info-element .info-element-icon:hover {
  background: #bf5869;
}
/* line 29, ../sass/components/_information.scss */
.info-element .info-element-title,
.info-element .info-element-text {
  position: relative;
  top: 7px;
  font-family: "Advent Pro", Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-size: 20px;
}
/* line 36, ../sass/components/_information.scss */
.info-element .info-element-desc {
  margin-top: 20px;
  margin-left: 60px;
}
