/**
 * Specific to booking page.
 */

@include villa-tablet {
  .calendar-col {
    margin-top: 50px;
  }
}

.booking-confirmation-container {
  margin-top: 80px;

  hr {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@include villa-tablet {
  #book {
    ul, p {
      margin-left: 40px;
    }

    h3 {
      margin-top: 30px;
    }
  }
}