/**
 * Footer stylesheet
 */

#page-footer {
  position: relative;
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url('../img/footer.jpg');
  background-size: cover;
  border-top: rgba($secondary-color, 0.5) 2px solid;

  h2 {
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $third-color;

    span {
      cursor: pointer;
      font-size: 2.2rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $secondary-color;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 4.5rem;
      height: 0.2rem;
      left: 50%;
      background: $secondary-color;
      margin-left: -2.25rem;
      margin-top: 20px;
    }
  }

  p {
    margin-top: 40px;
  }

  .social {
    margin-top: 20px;
    text-align: center;

    a {
      text-decoration: none;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 2px;
      border-radius: 50%;
      background: none repeat scroll 0 0 $secondary-color;
      transition: all 0.2s linear 0s;

      i {
        font-size: 1rem;
        line-height: 2rem;
        color: $third-color;
      }

      &:hover {
        background: none repeat scroll 0 0 lighten($secondary-color, $hover-lighten);
      }
    }
  }
}

/* BACK TO TOP */
#back-to-top {
  display: block;
  position: fixed;
  height: 30px;
  bottom: -80px;
  right: 50px;
  background: $secondary-color;
  text-decoration: none;
  border-radius: 3px;
  z-index: 9999;
  font-size: 20px;
  line-height: 25px;
  width: 30px;
  text-align: center;
  color: $third-color;
  cursor: pointer;
  transition: all 0.3s linear;

  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    line-height: 1em;
    content: "\f077";
  }

  &:hover {
    background: lighten($secondary-color, $hover-lighten);
  }

  @include villa-mobile {
    right: 10px;
  }
}