/**
 * Global styling.
 */

body {
  background: $black;
  color: $white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  color: $secondary-color;
  transition: color 0.2s linear;

  &:hover {
    color: lighten($secondary-color, $hover-lighten);
    text-decoration: none;
  }
}

sup {
  font-size: 0.7em;
}

ul li {
  list-style: none;
  margin-bottom: 8px;

  i {
    padding-right: 8px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  margin-bottom: 12px;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

hr {
  border-color: transparentize($secondary-color, 0.8);
}





.secondary-color {
  color: $secondary-color;
}

.section-title {
  text-align: center;
  font-family: $font-title;
  color: $secondary-color;
  background: $primary-color;

  h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
    font-size: 3rem;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
    margin-bottom: 5rem;
    margin-top: 6rem;

    span {
      position: absolute;
      font-size: 9rem;
      font-weight: 700;
      color: rgba($secondary-color, 0.2);
      left: 50%;
      top: 40%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    span.hr {
      width: 12rem;
      margin: 0;
      display: block;
      position: absolute;
      height: 0.1rem;
      background: rgba($secondary-color, 0.2);
      left: 50%;
      top: 50%;
      z-index: -1;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    /* Media queries */
    @media screen and (max-width: 400px) {
      font-size: 2rem;
      span {  font-size: 6rem;  }
      span.hr {  width: 10rem;  }
    }
  }
}

.text-image {
  margin-bottom: 20px;
  transition: border-color 0.2s linear;
  clear: both;

  &.text-image-full {
    width: 100%;
    max-height: 200px;
    margin-bottom: 20px;
    border-bottom: 4px solid $secondary-color;

    &:hover {
      border-bottom-color: lighten($secondary-color, $hover-lighten);
    }
  }

  &.text-image-right {
    float: right;
    margin-left: 20px;
    border-left: 4px solid $secondary-color;

    &:hover {
      border-left-color: lighten($secondary-color, $hover-lighten);
    }
  }

  &.text-image-left {
    float: left;
    margin-right: 20px;
    border-right: 4px solid $secondary-color;

    &:hover {
      border-right-color: lighten($secondary-color, $hover-lighten);
    }
  }
}

.text-citation {
  padding: 8px 20px;
  margin: 50px;
  background: lighten($black, $hover-lighten);
  color: $white;
  border: 1px solid $secondary-color;
  border-left-width: 20px;
}

.big-text {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.row-with-margin-bottom {
  margin-bottom: 50px;
}

.row-with-margin-top {
  margin-top: 50px;
}

.col-responsive-margin-top {
  @include villa-tablet {
    margin-top: 20px;
  }
}

.align-center {
  text-align: center;
}

.ajax-loader {
  font-family: $font-title;
  font-weight: 800;
}

.intro-text {
  margin-bottom: 40px;
}

.btn-default {
  background-color: $secondary-color;
  border-color: darken($secondary-color, $hover-lighten);
  font-family: $font-title;
  color: $third-color;
  font-weight: 600;
}