/**
 * Header stylesheet
 * Header, menu, responsive styles
 */

#page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding-top: 15px;
  padding-bottom: 10px;
  transition: background 0.5s ease-out;
  background: rgba($primary-color, 0.9);

  .container {
    position: relative;
  }
}

/* Logo */
#logo {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 25px;
  padding-top: 2px;

  a {
    color: $third-color;
    font-weight: $font-weight-bolder;
    text-decoration: none;
  }

  .secondary-color {
    transition: all 0.5s ease-out;
  }

  &:hover {
    .secondary-color {
      color: lighten($secondary-color, $hover-lighten);
    }
  }

  // Back to home for rooms.
  &.back-to-home {
    i {
      position: relative;
      animation-name: back-to-home-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transition: all 0.2s ease-out;
    }

    &:hover i {
      animation-play-state: paused;
    }
  }
}

/* Menu */
#main-menu {
  float: right;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      float: left;
      margin: 0 5px;

      a {
        color: $third-color;
        font-size: 15px;
        text-transform: uppercase;
        padding: 0px 4px 2px 5px;
        transition: color 0.2s ease-out;
        display: inline-block;
        font-weight: $font-weight-regular;
        text-decoration: none;
      }

      &.active a,
      & a:hover,
      & a.active,
      & a:focus {
        color: $secondary-color;
        background: transparent;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

/* Menu button */
#menu-responsive {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  display: none;
  cursor: pointer;
  margin-top: 1px;

  span {
    height: 2px;
    margin-top: 10px;
    background: $secondary-color;
    display: block;
    position: relative;
    top: 0;
    transition: all 500ms ease-out;

    &:first-child {
      margin-top: 0;
    }
  }

  // Menu hovered.
  &:hover {
    span {
      background: lighten($secondary-color, $hover-lighten);
    }
  }

  // Menu unfolded.
  &.active {
    span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px;
    }

    span:nth-child(2) {
      opacity: 0;
      top: 7px;
    }

    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: -17px;
    }
  }
}

// Responsive behavior.
@media screen and (max-width: 730px) {
  #menu-responsive {
    display: block;
  }

  #main-menu  {
    display: none;
    width: 100%;
    margin-right: 0;
    float: none;
    clear: both;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;

    ul li {
      float: none;
      width: 100%;
      text-align: left;
      margin: 0;
      padding: 0 0 8px 0;

      a {
        padding: 0;
      }
    }
  }
}