/**
 * Typography related styles.
 */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

/* Helper classes */

.secondary-color {
  color: $secondary-color;
}

.section-title {
  text-align: center;
  font-family: $font-title;
  color: $secondary-color;

  h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
    font-size: 3rem;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
    margin-bottom: 5rem;
    margin-top: 6rem;

    span {
      position: absolute;
      font-size: 9rem;
      font-weight: 700;
      color: rgba($secondary-color, 0.2);
      left: 50%;
      top: 40%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    span.hr {
      width: 12rem;
      margin: 0;
      display: block;
      position: absolute;
      height: 0.1rem;
      background: rgba($secondary-color, 0.2);
      left: 50%;
      top: 50%;
      z-index: -1;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    /* Hover */
    &:hover {
      color: lighten($secondary-color, $hover-lighten);

      span {
        color: rgba($secondary-color, 0.3);
      }

      span.hr {
        background: rgba($secondary-color, 1);
        transform: translateX(-50%) translateY(25px) rotate(0deg);
      }
    }

    /* Media queries */
    @media screen and (max-width: 400px) {
      font-size: 2rem;
      span {  font-size: 6rem;  }
      span.hr {  width: 10rem;  }
    }
  }
}